.custom-shadow {
  text-shadow: 1px 1px 20px #5c97bf9c;
}
.bdr{
  border: red 1px solid;
}
.upper-height{
  height: calc(100vh - 100px);
}
/* Width */
::-webkit-scrollbar {
  width: 8px;
}
html {
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1c1c; /* Blue color */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424242; /* Darker blue */
}